@model PetServicce.Model.Cadastro
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeDoDono" class="control-label"></label>
                <input asp-for="NomeDoDono" class="form-control" />
                <span asp-validation-for="NomeDoDono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroContato" class="control-label"></label>
                <input asp-for="NumeroContato" class="form-control" />
                <span asp-validation-for="NumeroContato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeDoPet" class="control-label"></label>
                <input asp-for="NomeDoPet" class="form-control" />
                <span asp-validation-for="NomeDoPet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especie" class="control-label"></label>
                <input asp-for="Especie" class="form-control" />
                <span asp-validation-for="Especie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raca" class="control-label"></label>
                <input asp-for="Raca" class="form-control" />
                <span asp-validation-for="Raca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApelidoDoPet" class="control-label"></label>
                <input asp-for="ApelidoDoPet" class="form-control" />
                <span asp-validation-for="ApelidoDoPet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
