
@{
    ViewData["Title"] = "ErroLogin";
}

<h1 style="text-align:center;color:yellow">Erro ao logar</h1>

<h4 style="text-align:center;color:yellow">Por favor verifique seu login e senha e tente novamente</h4>

<h4 style="text-align:center;color:yellow">Se naõ for cadastrado na nossa platafoma ainda solicite ao administrador</h4>

